name: simple_magick
description: 'A new Flutter project.'
publish_to: 'none'
version: 1.0.0+1

environment:
    sdk: ^3.10.4

dependencies:
    flutter:
        sdk: flutter
    cupertino_icons: ^1.0.8
    file_picker: ^10.3.7
    google_fonts: ^6.3.3

dev_dependencies:
    flutter_test:
        sdk: flutter
    flutter_lints: ^6.0.0

flutter:
    uses-material-design: true
    assets:
        - assets/fonts/

    fonts:
        - family: NotoSansSC
          fonts:
              - asset: assets/fonts/NotoSansSC-Regular.ttf
              - asset: assets/fonts/NotoSansSC-Bold.ttf
                weight: 700
